body{
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

h1,
h2,
h3,
ul,
ol,
nav{
    margin: 0;
    padding: 0;
    list-style: none;
}



.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    text-decoration: none;
    background-color: rgba(255, 151, 82, 1);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 15px/15px;
    transition: all 0.5s;
    color:white;
    font-weight: 500;
    font-size: 25px;
    text-shadow:1px 0 0 rgba(0, 0, 0, .5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .25)
} 

.btn:hover{
    width:300px ;
    border-left: 5px solid rgba(0, 0, 0, .2);
    border-right: 5px solid rgba(0, 0, 0, .2);

}

.divider{
    display: block;
    width: 25vw;
    clear: both;
    height: 1px;
    margin: 7vh auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.vert__divider{
    display: block;
    height: 10vh;
    clear: both;
    width:  1px;
    border-left:1px solid rgba(255, 255, 255, 0.5);
    margin:auto 10px ;
    background-color: rgba(255, 255, 255, 0.5);
}
.wrapper{
    display: block;
    justify-self:stretch;
    margin: 0 10vw;
    background-color:rgba(200, 200, 200, 0.1) ;
   /*  border-left:1px solid black;
    border-right:1px solid black; */
}

.wrapper img.content__pic{
    display: block;
    border-radius: 15px/15px;
    max-width:480px;
    max-height: 720px;
    margin:0 auto;
}

 /* HEADER */

.header__container{
    display: block;
    width: auto;
    height: 130px;
    margin: 0 auto;
   
}

.header{
    display: flex;
    justify-content: space-around;
    background-color:rgba(0, 0, 0, 0.5);
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:auto ;
    height: 130px;
}

.nav__container,
.title__container,
.menu__container{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

a.logo{
    border-radius: 50%;
   
transition: all 0.5s;
    
}
a:hover.logo{
    transform: scale(1.2);
    border-radius: 50%;
  
}


.logo img{
    border-radius: 50%;
  
}

.logo__container{
    flex: 10%;
    display: flex;
    justify-content:center;
    align-items: center;

}
.title__container{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex:25%;
}

.title{
    margin: 30px auto ;
    font-size: 25px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    border-top: 4px solid rgba(255, 255, 255, 0.5);
}
.title:hover{
    color:#f0aa7c;
}

.nav__container,
.menu__container{
    flex:35%;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.menu__item,
.nav__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.title,
.menu__link,
.nav__link{
    color: #fefaf3;
    text-decoration: none;
    transition: all 0.3s;
}


.menu__link:hover,
.nav__link:hover{
    color: rgba(255, 151, 82, 0.8);
    transform: scale(1.2);
    padding:15px 0;
    border-bottom: 2px solid  rgba(255, 151, 82, 1);
    border-top: 2px solid  rgba(255, 151, 82, 1);
}



.sub__title{
    margin: 5px auto 20px;
    color:#cfcbc4 ;
    font-size: 18px;
}

.burger{
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    width: auto;
    height: 50px;
}

.nav-btn{
    display: block;
    position: relative;
    width: 43px;
    height: 43px;
    cursor: pointer;
    z-index: 1;
    margin-left: 150px;
    
  }
  .nav-btn > span,
  .nav-btn > span::before,
  .nav-btn > span::after {
      display: block;
      position: absolute;
      top: 18px;
    width: 45px;
    height: 9px;
    background-color: white;
    transition-duration: .25s;
  }
  .nav-btn > span::before {
    content: '';
    top: -15px;
  }
  .nav-btn > span::after {
    content: '';
    top: 15px;
  }
  
  .nav{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 15vw;
    height: 100%;
    margin: 0;
    padding: 150px 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
    
  #nav-toggle{
    opacity: 0;
  }
   
  #nav-toggle:checked ~ .nav-btn > span{
    transform: rotate(45deg);
  }
  #nav-toggle:checked ~ .nav-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #nav-toggle:checked ~ .nav-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #nav-toggle:checked ~ .nav{
    visibility: visible;
    left: 0;
  } 

  label .nav-btn{
      float:right;
  }

/*MAIN*/

.content{
    display: block;
    margin: 0 auto;
}

 .main{
    display:block;
    align-items: center;
    padding: 10px 40px ;
    margin: 0 auto;
} 

.container{
    display: block;
    margin: 20px ;
    border: 1px solid black;
    padding: 25px ;
    border-radius: 15px/15px;
    box-shadow:0px 0px 20px rgba(0, 0, 0, .5);
}

.container:nth-of-type(2n){
    background-color:#efede8;
}

.container:nth-of-type(3n){
  background-color: #cfcbc4;
}

section{
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 100%;
   
}

section ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.presentation__card{
  display: flex;
  justify-content: space-between;

  padding: 20px;
}


.presentation__card figcaption.text__block{
     align-self: center;
    margin: 50px;
    padding: 50px;
}

.column {

    column-width: 250px;
    column-count: 2;
    column-gap: 50px;
    column-rule: 1px solid #ccc;
   }

.slidein {
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
        opacity: 0;
      margin-left: 100%;
      width: 300%;
      border: none;
    }
  
    to {
        opacity: 1;
      margin-left: 0%;
      width: 100%;
    }
  }

h1.introduction{
   flex: 100%;
}

section h1{
    display: block;
    margin: 20px auto;
    font-family: 'Balsamiq Sans';
    text-align: center;
   font-size: 2.5em;
   align-self: center;
}

.importance__list{
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    flex-wrap: wrap;
}


.shopping__tour__name,
.advantage__name,
.importance__item{
    display:block;
    text-align: center;
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px/15px;
}

.importance__item{
    font-size: 25px;
    width: 300px;
    margin: 30px;
    box-shadow: 0 0  35px rgba(255, 255, 255, 0.7)
}

.advantages__list{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.advantages__item{
    display: block;
    width:260px ;
    padding: 15px;
    margin: 0 auto; 
    height:auto;
    border-radius: 15px/15px;
    background-color: rgba(255, 151, 82, 0.2);
    box-shadow: 0 0  35px rgba(255, 255, 255, 0.7);
    transition:all 0.5s;
}

.advantages__item:hover{
    transform: scale(2) ;
    box-shadow: 0 0 35px rgba(0, 0, 0, .25);

}

.advantage__name{
    background-color: rgba(255, 151, 82, 0.3);
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.about__me figure{
    display: flex;
    justify-content: space-around;
    align-content:space-around;
    flex-wrap: wrap;
}

.about__me img{
   flex: 50%;
  
}

.about__me figcaption{
    flex: 40%;
    padding: 20px;
}
.about__me figcaption span{
    color: rgba(255, 151, 82, 1);
    text-align: center;
    margin: 0 30px;
}




.services{
   position: relative;
    width:100%;
    margin: 0 auto;
    box-shadow: 0 0  30px rgba(255, 255, 255, 0.5);
}

.services__container {
    display: flex;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.service{
    width: auto;
    position: relative;
    padding: 25px;
    height: 100%;
}

.service__descr {
    display: flex;
    justify-content: space-between;
    top: 5vh;
    left: 5vw;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px/15px;
    padding: 25px 50px;
    font-size: 1em;
    font-weight: 300;
    color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 35px rgba(0, 0, 0, .25)

}

.service__descr img {
  /*  float: right;
    object-fit: cover; */
    transform: scale(0.8);
    margin: 10px;
    box-shadow: 0 0 35px rgba(0, 0, 0, .25)
}


.descr__block{
    max-width: 900px;
    height: auto;
    padding-top: 50px;
}
.service__steps__list{
    list-style:circle ;
}

.order{
    width: 150px;
    bottom: -150px;
    right: -240px;
    transition: all 0.5s;
}


.services__menu {
    display: block;
    width: auto;
}

h3.service__name {
    display: block;
    font-weight: 700;
    font-size: 1.4em;
    margin: 0 auto;
    text-align: center;
}


.services__list {
    display: block;
    margin:0 auto;
}

.service__item {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    border-radius: 15px/15px;
    width: 150px;
    font-size: 1.2em;
    margin: 15px;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    transition: .3s all
}

.service__item:hover {
    color: rgba(255, 151, 82, 0.5);
    box-shadow: 0 0 35px rgba(0, 0, 0, .25);
    transform: scale(1.2);
}

.active {
    color: rgba(255, 151, 82, 1);
    font-size: 1.5em;
    font-weight: 900
}


.reviews__list{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}



.review__item{
   flex: 40%;
display: block;
margin: 0 10px;
min-height: 100px;
padding: 10px;
border: 3px solid rgba(0, 0, 0, .2);

box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.review__item span{
    opacity: 0.5;
    color: grey;
    font-size: smaller;
    line-height: 1;
}

.review__item figure{
    float: right;
    
}


.review__item .text__block{
    margin-left: 10px;
    
}

.review__item figcaption{
    display:flex;
    justify-content: space-between;
}


.slogan__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
/*     box-shadow: 0 0 30px rgba(0, 0, 0, .35);
 */}

.sign__up{
    display: flex;
    width: auto;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
}

.sign__up input{
    display: block;
    padding: 10px;
    margin: 10px;
    text-align:center ;
}

h1.slogan {
    display: block;
    font-style: italic;
    color: rgba(255, 151, 82, 1);
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

.sign__up button.subscribe ,
a.consult__link{
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: rgba(255, 151, 82, 1);
    border-radius: 15px 15px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 50px;
    transition: all 0.5s;
}

a:hover.consult__link{
    letter-spacing: 2px;
    text-decoration: underline;
}


.shopping__tours__list{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    flex-wrap: nowrap;
}

.day__descr{
    margin: 0 5vw;
}

.shopping__tour__desc{
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.shopping__tour__name{
    color: rgba(255, 151, 82, 1);
    width: 30%;
    font-size: 200%;
    margin: 0 auto;
}

.shopping__tour__card{
   margin: 30px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, .25);
   padding: 20px 40px;
   border-radius: 15px 15px;

}

.shopping__tour__program{
    margin: 30px auto;
}

.tour__price,
.price{
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px auto;
}




















/*FOOTER*/
.footer{
    display:block;
    margin: 50px auto;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
}



.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    color: rgba(255, 151, 82, 1);
    text-decoration:underline;
}

.footer__top{
    display:block;
}

.socials {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 50px 250px;
}

a.social__link{
    display: block;
    margin: 0 50px;
    transform: scale(3);
    color: rgba(255, 151, 82, 1);
    transition: 0.5s;
}
.social__link svg{
    border: 1px solid grey;
    background-color: grey;
    border-radius: 50%;
     padding: 1px;
}
a.social__link:hover{
    transform: scale(5) rotate(360deg);
}



.footer__center{
    display:flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid rgba(0, 0, 0, .2);
    border-right: 5px solid rgba(0, 0, 0, .2);
    margin: 30px;
    flex-wrap: wrap;
    padding: 0 50px;
}

.footer__center .divider{
    flex: 100%;
    height: 2px;
}

.footer__logo__container{
     flex: 30%;
   display: flex;
   margin: 0 auto;
   justify-content:space-between;
   align-items: center;
   padding: 10px;
}

.contacts__container{
    flex: 30%;
    display: block;
    text-align: left;
 
}


.footer__logo__container{
    transition: all 0.5s;
}

.logo{
display: block;
margin: 0 auto;
text-align: center;
align-content: center;
}

.footer__logo__container img{
border-radius: 50%;
}

.footer__logo__container a:hover{
    transform: scale(1.5);
    }

    .footer__services__menu__container{
        flex: 30%;
        display: block;
   
    }

  .services-list{
    display: block;
    padding: 10px;
}
.service-item{
    text-align: start;
    padding: 5px;
    margin: 5px;
}

.footer__bottom{
  flex: 100%;
     margin: 0 auto;
     padding: 30px;
     text-align: center; 
     border-top: 5px solid rgba(0, 0, 0, .2);
     border-bottom: 5px solid rgba(0, 0, 0, .2);
}





.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    
}

.modal__dialog {
    max-width: 550px;
    margin: 40px auto;
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 15px 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .25);
    max-height: 80vh;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0
}

.hide{
    display: none;
}

.show{
    display: block;
}

.fade{
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.hidden{
    display: none;
    position: absolute;
}

@font-face {
    font-family: 'Balsamiq Sans'; 
    src: url("fonts/Balsamiq_Sans/BalsamiqSans-Italic.ttf") format("truetype"); 
    font-style: cursive; 
    font-weight: normal; 
    } 
